<ul{% if include.level == 0 %} class="menu jquerymenu"{% endif %}>
  {% for item in include.menu %}
  {%- capture classes -%}{% if item.menu %}parent {% if item.expanded or item.url == page.menu_top %}open{% else %}closed{% endif %}{% endif %}{% if item.url == page.url %} active{% endif %}{%- endcapture -%}
  <li class="{{classes}}">
    {%- if item.menu -%}
    <span class="{{classes}}"></span>
    {%- endif -%}
    <a href="{{ item.url }}" class="{% if item.url == page.url %}active{% endif %}">{{ item.title }}</a>
    {% if item.menu %}
    {%- assign level = level | plus: 1 -%}
    {%- include menu.html menu=item.menu level=level -%}
    {%- endif -%}
  {% endfor %}
  </li>
</ul>
