---
title: 1987-08-31
gallery1:
- title: ТПИ
  thumb: /files/tanja/1987/TPI_1.t.jpg
  url: /files/tanja/1987/TPI_1.jpg
  gps: https://www.google.com/maps?t=k&ll=59.395116,24.672166&spn=0.00148,0.003873
- title: ТПИ
  thumb: /files/tanja/1987/TPI_2.t.jpg
  url: /files/tanja/1987/TPI_2.jpg
  gps: https://www.google.com/maps?t=k&ll=59.395116,24.672166&spn=0.00148,0.003873
- title: ТПИ
  thumb: /files/tanja/1987/TPI_3.t.jpg
  url: /files/tanja/1987/TPI_3.jpg
  gps: https://www.google.com/maps?t=k&ll=59.395116,24.672166&spn=0.00148,0.003873
- title: ТПИ
  thumb: /files/tanja/1987/TPI_4.t.jpg
  url: /files/tanja/1987/TPI_4.jpg
  gps: https://www.google.com/maps?t=k&ll=59.395116,24.672166&spn=0.00148,0.003873
- title: Второй корпус ТПИ
  thumb: /files/tanja/1987/TPI_5.t.jpg
  url: /files/tanja/1987/TPI_5.jpg
  gps: https://www.google.com/maps?t=k&ll=59.395116,24.672166&spn=0.00148,0.003873
- title: Второй корпус ТПИ
  thumb: /files/tanja/1987/TPI_6.t.jpg
  url: /files/tanja/1987/TPI_6.jpg
  gps: https://www.google.com/maps?t=k&ll=59.395116,24.672166&spn=0.00148,0.003873
- title: Второй корпус ТПИ
  thumb: /files/tanja/1987/TPI_7.t.jpg
  url: /files/tanja/1987/TPI_7.jpg
  gps: https://www.google.com/maps?t=k&ll=59.395116,24.672166&spn=0.00148,0.003873
- title: Второй корпус ТПИ
  thumb: /files/tanja/1987/TPI_8.t.jpg
  url: /files/tanja/1987/TPI_8.jpg
  gps: https://www.google.com/maps?t=k&ll=59.395116,24.672166&spn=0.00148,0.003873
gallery2:
- title: Библиотека ТПИ
  thumb: /files/tanja/1987/Biblioteka_TPI_1.t.jpg
  url: /files/tanja/1987/Biblioteka_TPI_1.jpg
  gps: https://www.google.com/maps?t=k&ll=59.395376,24.670706&spn=0.00148,0.003873
- title: Библиотека ТПИ
  thumb: /files/tanja/1987/Biblioteka_TPI_2.t.jpg
  url: /files/tanja/1987/Biblioteka_TPI_2.jpg
  gps: https://www.google.com/maps?t=k&ll=59.395376,24.670706&spn=0.00148,0.003873
gallery3:
- title: Экономический факультет ТПИ в Копли, где мы учились один день в неделю
  thumb: /files/tanja/1987/TPI_Kopli_1.t.jpg
  url: /files/tanja/1987/TPI_Kopli_1.jpg
  gps: https://www.google.com/maps?t=k&ll=59.46154,24.666823&spn=0.001477,0.003873
- title: Экономический факультет ТПИ в Копли, где мы учились один день в неделю
  thumb: /files/tanja/1987/TPI_Kopli_4.t.jpg
  url: /files/tanja/1987/TPI_Kopli_4.jpg
  gps: https://www.google.com/maps?t=k&ll=59.46154,24.666823&spn=0.001477,0.003873
- title: Экономический факультет ТПИ в Копли, где мы учились один день в неделю
  thumb: /files/tanja/1987/TPI_Kopli_3.t.jpg
  url: /files/tanja/1987/TPI_Kopli_3.jpg
  gps: https://www.google.com/maps?t=k&ll=59.46154,24.666823&spn=0.001477,0.003873
- title: Экономический факультет ТПИ в Копли на полуострове около моря
  thumb: /files/tanja/1987/TPI_Kopli_2.t.jpg
  url: /files/tanja/1987/TPI_Kopli_2.jpg
  gps: https://www.google.com/maps?t=k&ll=59.46154,24.666823&spn=0.001477,0.003873
gallery4:
- title: Энергетический факультет ТПИ в Копли, где мы учились один день в неделю
  thumb: /files/tanja/1987/TPI_Sitsi_1.t.jpg
  url: /files/tanja/1987/TPI_Sitsi_1.jpg
  gps: https://www.google.com/maps?t=k&ll=59.449471,24.711127&spn=0.001478,0.003873
---
<p>1987</p>

<p>В первый раз я увидел Таню на общем собрании группы после поступления
в <a href="https://www.ttu.ee/">институт</a>
<a href="https://en.wikipedia.org/wiki/Tallinn_University_of_Technology"><img src="/files/icons/wikipedia.png" /></a>
<a href="https://ttu.livejournal.com/profile"><img src="/files/icons/lj_community.png" /></a>
в конце августа 1987 года.  Нам тогда было по 17 лет.</p>

{% include gallery.html id="gallery1" %}
{% include gallery.html id="gallery2" %}
{% include gallery.html id="gallery3" %}
{% include gallery.html id="gallery4" %}
