---
keywords: Таня 1987-09-01
description: Встречи с Таней 1987-09-01.
title: 1987-09-01
gallery1:
- title: Въезд в колхоз
  thumb: /files/tanja/1987/198709_Aasmae_1.t.jpg
  url: /files/tanja/1987/198709_Aasmae_1.jpg
  gps: http://maps.google.com/?t=k&ll=59.241132,24.493761&spn=0.023792,0.06197
- title: Въезд в колхоз
  thumb: /files/tanja/1987/198709_Aasmae_2.t.jpg
  url: /files/tanja/1987/198709_Aasmae_2.jpg
  gps: http://maps.google.com/?t=k&ll=59.241132,24.493761&spn=0.023792,0.06197
- title: Въезд в колхоз
  thumb: /files/tanja/1987/198709_Aasmae_3.t.jpg
  url: /files/tanja/1987/198709_Aasmae_3.jpg
  gps: http://maps.google.com/?t=k&ll=59.241132,24.493761&spn=0.023792,0.06197
- title: Въезд в колхоз
  thumb: /files/tanja/1987/198709_Aasmae_4.t.jpg
  url: /files/tanja/1987/198709_Aasmae_4.jpg
  gps: http://maps.google.com/?t=k&ll=59.241132,24.493761&spn=0.023792,0.06197
- title: Местный ориентир - колхозная труба
  thumb: /files/tanja/1987/198709_Aasmae_Internet_1.t.jpg
  url: /files/tanja/1987/198709_Aasmae_Internet_1.jpg
  gps: http://maps.google.com/?t=k&ll=59.242712,24.500113&spn=0.023791,0.06197
- title: Местный ориентир - колхозная труба
  thumb: /files/tanja/1987/198709_Aasmae_Internet_2.t.jpg
  url: /files/tanja/1987/198709_Aasmae_Internet_2.jpg
  gps: http://maps.google.com/?t=k&ll=59.242712,24.500113&spn=0.023791,0.06197
- title: Местный ориентир - колхозная труба
  thumb: /files/tanja/1987/198709_Aasmae_Internet_3.t.jpg
  url: /files/tanja/1987/198709_Aasmae_Internet_3.jpg
  gps: http://maps.google.com/?t=k&ll=59.242712,24.500113&spn=0.023791,0.06197
- title: Местный ориентир - колхозная труба
  thumb: /files/tanja/1987/198709_Aasmae_Internet_4.t.jpg
  url: /files/tanja/1987/198709_Aasmae_Internet_4.jpg
  gps: http://maps.google.com/?t=k&ll=59.242712,24.500113&spn=0.023791,0.06197
- title: Прямо дорога в домик, где мы жили
  thumb: /files/tanja/1987/198709_Aasmae_5.t.jpg
  url: /files/tanja/1987/198709_Aasmae_5.jpg
  gps: http://maps.google.com/?t=k&ll=59.242712,24.500113&spn=0.023791,0.06197
- title: Колхозное поле
  thumb: /files/tanja/1987/198709_Aasmae_Field_1.t.jpg
  url: /files/tanja/1987/198709_Aasmae_Field_1.jpg
  gps: http://maps.google.com/?t=k&ll=59.23705,24.500198&spn=0.023795,0.06197
- title: Мимо этого хутора мы с Таней ходили с автобуса
  thumb: /files/tanja/1987/198709_Aasmae_Tee_1.t.jpg
  url: /files/tanja/1987/198709_Aasmae_Tee_1.jpg
  gps: http://maps.google.com/?t=k&ll=59.227214,24.51685&spn=0.023801,0.06197
- title: Ещё один поворот
  thumb: /files/tanja/1987/198709_Aasmae_Tee_2.t.jpg
  url: /files/tanja/1987/198709_Aasmae_Tee_2.jpg
  gps: http://maps.google.com/?t=k&ll=59.22717,24.520111&spn=0.023801,0.06197
- title: Поворот к нашему домику
  thumb: /files/tanja/1987/198709_Aasmae_Tee_3.t.jpg
  url: /files/tanja/1987/198709_Aasmae_Tee_3.jpg
  gps: http://maps.google.com/?t=k&ll=59.220275,24.533587&spn=0.023806,0.06197
- title: Поворот к нашему домику
  thumb: /files/tanja/1987/198709_Aasmae_Tee_4.t.jpg
  url: /files/tanja/1987/198709_Aasmae_Tee_4.jpg
  gps: http://maps.google.com/?t=k&ll=59.220275,24.533587&spn=0.023806,0.06197
gallery2:
- title: В дальнем домике мы с Таней ночевали, а в ближнем была столовая
  thumb: /files/tanja/1987/198709_Aasmae_House_1.t.jpg
  url: /files/tanja/1987/198709_Aasmae_House_1.jpg
  gps: http://maps.google.com/?t=k&ll=59.220275,24.533587&spn=0.023806,0.06197
gallery3:
- title: В дальнем домике мы с Таней ночевали, а в ближнем была столовая
  thumb: /files/tanja/1987/198709_Aasmae_House_2.t.jpg
  url: /files/tanja/1987/198709_Aasmae_House_2.jpg
  gps: http://maps.google.com/?t=k&ll=59.220275,24.533587&spn=0.023806,0.06197
gallery4:
- title: На таком автобусе мы ездили на поле
  thumb: /files/tanja/1987/198709_Aasmae_Field_2.t.jpg
  url: /files/tanja/1987/198709_Aasmae_Field_2.jpg
  gps: http://maps.google.com/?t=k&ll=59.221813,24.52981&spn=0.023805,0.06197
- title: Поле
  thumb: /files/tanja/1987/198709_Aasmae_Field_3.t.jpg
  url: /files/tanja/1987/198709_Aasmae_Field_3.jpg
  gps: http://maps.google.com/?t=k&ll=59.230815,24.528179&spn=0.023799,0.06197
- title: Капустное поле, на котором мы собирали урожай
  thumb: /files/tanja/1987/198709_Aasmae_Field_4.t.jpg
  url: /files/tanja/1987/198709_Aasmae_Field_4.jpg
  gps: http://maps.google.com/?t=k&ll=59.239464,24.528351&spn=0.023793,0.06197
---
<p>1987-09</p>

<p>В сентябре того же года нашу группу направили
в <a href="http://www.sauevald.ee/haridus_kultuur/koolid/salu_kool">"колхоз"</a>
<a href="http://www.hot.ee/aasmaerk/ajalugu_yldine.html"><img src="/files/icons/wek.png" /></a>
<a href="http://en.wikipedia.org/wiki/%C3%84%C3%A4sm%C3%A4e"><img src="/files/icons/wikipedia.png" /></a>,
где я ближе познакомился с Таней.</p>

{% include gallery.html id="gallery1" %}

<p>Весь месяц мы с Таней жили в маленьком домике.</p>

{% include gallery.html id="gallery2" %}

<p>В столовой мы с Таней часто оставались вдвоём одни, так как
оба медленно ели, и поэтому уходили последними.  Во время еды Таня часто
задумывалась, и я тоже.  Именно тогда я обратил внимание на Таню.</p>

<p>Однажды вечером Таня зашла в нашу комнату и попросила шахматы.
Я очень удивился.  Девушка, играющая в шахматы - это очень
большая редкость, и это усилило мой интерес к Тане.</p>

{% include gallery.html id="gallery3" %}

<p>По утрам мы ездили работать на поле (собирать капусту, репку, картошку),
а вечером возвращались обратно.</p>

<p>На уборке картошки наши участки были рядом, и я заметил, что мой
участок было почти в два раза больше, чем у Тани.</p>

{% include gallery.html id="gallery4" %}
