---
title: 1989-04-06
gallery1:
- title: Мы с Таней
  thumb: /files/tanja/1989/1989_02_0150.t.jpg
  url: /files/tanja/1989/1989_02_0150.jpg
  gps: https://www.google.com/maps?t=k&ll=59.435019,24.820036&spn=0.001479,0.003873
- title: Мы с Таней
  thumb: /files/tanja/1989/1989_03_0150.t.jpg
  url: /files/tanja/1989/1989_03_0150.jpg
  gps: https://www.google.com/maps?t=k&ll=59.435019,24.820036&spn=0.001479,0.003873
gallery2:
- title: Здание статистики, где мы с Таней работали
  thumb: /files/tanja/1989/198903_Statistika_1.t.jpg
  url: /files/tanja/1989/198903_Statistika_1.jpg
  gps: https://www.google.com/maps?t=k&ll=59.429533,24.734833&spn=0.001479,0.003873
- title: Здание статистики, где мы с Таней работали
  thumb: /files/tanja/1989/198903_Statistika_2.t.jpg
  url: /files/tanja/1989/198903_Statistika_2.jpg
  gps: https://www.google.com/maps?t=k&ll=59.429533,24.734833&spn=0.001479,0.003873
- title: Здание статистики, где мы с Таней работали
  thumb: /files/tanja/1989/198903_Statistika_3.t.jpg
  url: /files/tanja/1989/198903_Statistika_3.jpg
  gps: https://www.google.com/maps?t=k&ll=59.429533,24.734833&spn=0.001479,0.003873
- title: Мы с Таней работали в вычислительном зале в дальнем здании
  thumb: /files/tanja/1989/198903_Statistika_4.t.jpg
  url: /files/tanja/1989/198903_Statistika_4.jpg
  gps: https://www.google.com/maps?t=k&ll=59.429533,24.734833&spn=0.001479,0.003873
---
<p>В следующем месяце (1989-03-04?, 1989-03-05?) уже после того, как
Таня ушла из нашей группы, та же сокурсница <!-- Савицкая -->
пригласила меня и других сокурсников на свой день рождения.  Вечером после
работы туда же пришла и Таня.  Так мы с Таней встретились там и вместе
фотографировались:</p>

{% include gallery.html id="gallery1" %}

<p>
<a href="/files/tanja/1989/01_0150.jpg">01_0150.jpg</a><br />
<a href="/files/tanja/1989/02_0150.jpg">02_0150.jpg</a><br />
<a href="/files/tanja/1989/03_0150.jpg">03_0150.jpg</a><br />
<a href="/files/tanja/1989/04_0150.jpg">04_0150.jpg</a><br />
<a href="/files/tanja/1989/05_0150.jpg">05_0150.jpg</a><br />
<a href="/files/tanja/1989/06_0150.jpg">06_0150.jpg</a><br />
<a href="/files/tanja/1989/07_0150.jpg">07_0150.jpg</a><br />
</p>

<p>Там я узнал, что Таня пошла работать в статистику.  После этого я мечтал
встретить Таню у здания статистики, где она работала, но не получилось.</p>

{% include gallery.html id="gallery2" %}

<p>Позже я работал в том же здании и в том же вычислительном зале, где
работала Таня.  Но это было уже через два года после того, как Таня
перестала там работать.</p>
