---
title: 1990-09-26
gallery1:
- title: Окно, на фоне которого я увидел Таню
  thumb: /files/tanja/1990/19900926_III_2.t.jpg
  url: /files/tanja/1990/19900926_III_2.jpg
  gps: http://maps.google.com/?t=k&ll=59.394802,24.670862&spn=0.00148,0.003873
gallery2:
- title: Институтский медпункт
  thumb: /files/tanja/1990/19900926_TPI_Medpunkt.t.jpg
  url: /files/tanja/1990/19900926_TPI_Medpunkt.jpg
  gps: http://maps.google.com/?t=k&ll=59.396709,24.668663&spn=0.00148,0.003873
---
<p>1990-09, среда</p>

<p>Когда я в институте шёл по коридору (в III-2), я посмотрел
в сторону окна и увидел тёмный силуэт с ореолом лучей вокруг головы
на очень ярком фоне окна.  Я сразу узнал Таню по силуэту (и по нимбу :-).</p>

{% include gallery.html id="gallery1" %}

<p>Потом <!-- в II-2 --> Таня стала разговаривать с одной девочкой из
нашей группы.  В это время я стоял недалеко и услышал, как Таня сказала,
что она идёт в институтский медпункт.</p>

<p>Таня пошла к выходу и остановилась в фойе около зеркала причесаться.
Таня была в босоножках, и мне тогда показалось, <!-- что у Тани большие
пятки и --> что Таня слишком высокая.</p>

<p>Пока Таня причёсывалась, я вышел из института, пошёл на остановку около
медпункта, но Таню я там так и не увидел.</p>

{% include gallery.html id="gallery2" %}
