---
title: 1991-07-23
gallery1:
- title: Здесь у ворот мы с Таней расстались, и я ничего не мог изменить
  thumb: /files/tanja/1991/19910723_Kiisa_1.t.jpg
  url: /files/tanja/1991/19910723_Kiisa_1.jpg
  gps: https://www.google.com/maps?t=k&ll=59.208941,24.661131&spn=0.023814,0.06197
geojson:
- type: Feature
  properties:
    color: "#ff0000"
  geometry:
    type: LineString
    coordinates:
    - - '24.66029736814841'
      - '59.20989345585476'
    - - '24.66034542536808'
      - '59.20981753611418'
    - - '24.66113492584443'
      - '59.20988903583157'
    - - '24.66126005082151'
      - '59.20960767813977'
    - - '24.66191738504779'
      - '59.20865935387534'
---
<p>На даче я очень долго искал Таню, но не мог найти.  Когда я совсем
отчаялся, то попросил Б-га помочь мне.  Тогда я сел на велосипед и поехал,
сворачивая по интуиции там, где надо, и приехал прямо к даче Тани.
Издалека я увидел, что там стоит какая-то женщина с ребёнком.  Я подумал,
что это не Таня, потому что я знал, что у Тани нет детей, и я проехал дальше,
но потом я подумал, что бывают разные сюрпризы, и всё-таки тут же вернулся
обратно.  И оказалось, что там стоит моя Таня с Дениской! (Денис -
двоюродный брат Тани, которому тогда было 2 года.)</p>

<p>Когда Таня возвращалась с тётей Светой, я спросил:<br />
<b>Ю:</b> Сколько времени?<br />
Тётя Света посмотрела на часы и сказала мне, сколько времени.<br />
<b>Т:</b> Уже так поздно!!!</p>

{% include gallery.html id="gallery1" %}

{% include geojson.html %}
