---
title: 1991-11-05
gallery1:
- title: Дорожка от ТПИ к остановке
  thumb: /files/tanja/1991/19911105_TPI_Sopruse_1.t.jpg
  url: /files/tanja/1991/19911105_TPI_Sopruse_1.jpg
  gps: http://maps.google.com/?t=k&ll=59.396982,24.674081&spn=0.00148,0.003873
- title: Дорожка от ТПИ к остановке
  thumb: /files/tanja/1991/19911105_TPI_Sopruse_2.t.jpg
  url: /files/tanja/1991/19911105_TPI_Sopruse_2.jpg
  gps: http://maps.google.com/?t=k&ll=59.396982,24.674081&spn=0.00148,0.003873
- title: Дорожка от ТПИ к остановке
  thumb: /files/tanja/1991/19911105_TPI_Sopruse_3.t.jpg
  url: /files/tanja/1991/19911105_TPI_Sopruse_3.jpg
  gps: http://maps.google.com/?t=k&ll=59.396982,24.674081&spn=0.00148,0.003873
- title: Дорожка от ТПИ к остановке
  thumb: /files/tanja/1991/19911105_TPI_Sopruse_4.t.jpg
  url: /files/tanja/1991/19911105_TPI_Sopruse_4.jpg
  gps: http://maps.google.com/?t=k&ll=59.396982,24.674081&spn=0.00148,0.003873
gallery2:
- title: Остановка 17
  thumb: /files/tanja/1991/19911105_Sopruse_peatus.t.jpg
  url: /files/tanja/1991/19911105_Sopruse_peatus.jpg
  gps: http://maps.google.com/?t=k&ll=59.39882,24.684053&spn=0.00148,0.003873
gallery3:
- title: Бассейн, в который ходила Таня
  thumb: /files/tanja/1991/19911105_Bassein_1.t.jpg
  url: /files/tanja/1991/19911105_Bassein_1.jpg
  gps: http://maps.google.com/?t=k&ll=59.397989,24.693435&spn=0.00148,0.003873
- title: Бассейн, в который ходила Таня
  thumb: /files/tanja/1991/19911105_Bassein_2.t.jpg
  url: /files/tanja/1991/19911105_Bassein_2.jpg
  gps: http://maps.google.com/?t=k&ll=59.397989,24.693435&spn=0.00148,0.003873
- title: Бассейн, в который ходила Таня
  thumb: /files/tanja/1991/19911105_Bassein_3.t.jpg
  url: /files/tanja/1991/19911105_Bassein_3.jpg
  gps: http://maps.google.com/?t=k&ll=59.397989,24.693435&spn=0.00148,0.003873
---
{% include gallery.html id="gallery1" %}

<p>На остановке 17:<br />
<b>Ю:</b> Меня на даче укусила собака.  Может быть, бешеная, но мне уже
всё равно.<br />
<b>Т:</b> Ты, наверное, её дразнил, как ты сам рассказывал такой случай.</p>

{% include gallery.html id="gallery2" %}

<p>
<b>Т:</b> Я записалась в бассейн здесь рядом в школе.<br />
<b>Ю:</b> Я тоже!<br />
Я записался в бассейн, чтобы уменьшить стресс от разлуки с Таней,
до того, как я узнал, что Таня тоже ходит в бассейн.  Но оказалось,
что Таня ходит в бассейн в другой школе, которая находится очень
близко от той школы, куда я ходил в бассейн.  Мне было очень обидно,
что я так ошибся.</p>

{% include gallery.html id="gallery3" %}

<p>На 3 до ABC-5:<br />
<b>Ю:</b> Я на экзамене сам доказывал теорему, а не заучивал.<br />
<b>Т:</b> Я тоже.</p>

<p>В центре:<br />
<b>Т:</b> У меня одна подруга - еврейка, и она рассказывала, что у евреев
есть обычай сохранять верность супругу.<br />
<b>Ю:</b> У меня в семье все однолюбы.</p>
