---
title: 1992-03-05
gallery1:
- title: Около библиотеки
  thumb: /files/tanja/1992/19920305_Biblioteka.t.jpg
  url: /files/tanja/1992/19920305_Biblioteka.jpg
  gps: https://www.google.com/maps?t=k&ll=59.395376,24.671452&spn=0.00148,0.003873
gallery2:
- title: ТПИ со стороны леса
  thumb: /files/tanja/1992/19920305_TPI_Forest.t.jpg
  url: /files/tanja/1992/19920305_TPI_Forest.jpg
  gps: https://www.google.com/maps?t=k&ll=59.395097,24.670277&spn=0.00148,0.003873
---
<p>В библиотеке я случайно увидел Таню с чердака.</p>

{% include gallery.html id="gallery1" %}

<p>Я стал ждать около библиотеки.  Таня вышла, поздоровалась,
и пошла звонить по междугороднему телефону-автомату.</p>

<p>Потом Таня оделась, вышла из института, и когда закрывала за собой дверь,
внимательно посмотрела на меня, не пойду ли я за ней.  Но я не мог пойти,
потому что я обещал Тане не гулять с ней.  После того, как Таня ушла,
я вышел с другой стороны, и с горя долго блуждал в тёмном лесу.</p>

{% include gallery.html id="gallery2" %}
