---
title: 1999-05-16
gallery1:
- title: Здесь мы гуляли с Таней и Леночкой
  thumb: /files/tanja/1999/19990516_Lasnamae_5.t.jpg
  url: /files/tanja/1999/19990516_Lasnamae_5.jpg
  gps: https://www.google.com/maps?t=k&ll=59.433726,24.823324&spn=0.001479,0.003873
gallery2:
- title: Детская площадка, где мы гуляли с Таней и Леночкой
  thumb: /files/tanja/1999/19990516_Lasnamae_4.t.jpg
  url: /files/tanja/1999/19990516_Lasnamae_4.jpg
  gps: https://www.google.com/maps?t=k&ll=59.434018,24.82532&spn=0.001479,0.003873
gallery3:
- title: Детская площадка, где мы гуляли с Таней и Леночкой
  thumb: /files/tanja/1999/19990516_Lasnamae_1.t.jpg
  url: /files/tanja/1999/19990516_Lasnamae_1.jpg
  gps: https://www.google.com/maps?t=k&ll=59.435684,24.824815&spn=0.001478,0.003873
- title: Детская площадка, где мы гуляли с Таней и Леночкой
  thumb: /files/tanja/1999/19990516_Lasnamae_2.t.jpg
  url: /files/tanja/1999/19990516_Lasnamae_2.jpg
  gps: https://www.google.com/maps?t=k&ll=59.435684,24.824815&spn=0.001478,0.003873
- title: Детская площадка, где мы гуляли с Таней и Леночкой
  thumb: /files/tanja/1999/19990516_Lasnamae_3.t.jpg
  url: /files/tanja/1999/19990516_Lasnamae_3.jpg
  gps: https://www.google.com/maps?t=k&ll=59.435684,24.824815&spn=0.001478,0.003873
---
<p>19:30<br />
<b>Т:</b> Юра, ты не должен часто встречаться со мной.  Приходи хотя бы
не каждый день, а то Лена скажет своей бабушке, что мама встречается
с дядей Юрой.<br />
<b>Т:</b> Юра, понимаешь, все сложилось, так оно сложилось.
У меня с мухом хорошие отношения.  Я не собираюсь ничего менять.<br />
<b>Ю:</b> Я не верю, что ничего невозможно изменить!  Я очень хочу
жить с Тобой!<br />
<b>Т:</b> Но мы с мухом раньше познакомились.<br />
<b>Ю:</b> Таня, что же Ты говоришь?!  Мы же познакомились, когда нам было 17 лет.
И полюбил я Тебя раньше, чем Ты познакомилась с тем мужчиной.<br />
</p>

{% include gallery.html id="gallery1" %}

<p>
<b>Т:</b> А где ты живешь?<br />
<b>Ю:</b> Я купил квартиру около Твоего дома, чтобы каждый день смотреть,
когда Ты приедешь.</p>

<p>
<b>Т:</b> Я через месяц уезжаю обратно в Киев.<br />
<b>Ю:</b> Не уезжай, или я сам поеду к Тебе в Киев.<br />
<b>Т:</b> Об этом не может быть и речи!</p>

<p>
<b>Т:</b> Ты работаешь там же, в Институте Кибернетики?
Я помню, ты занимался искусственным интеллектом.<br />
<b>Ю:</b> Я хочу сделать такую программу, которая показывала бы Тебя
на экране компьютера.  Когда я сделаю, то весь мир Тебя увидит.<br />
<b>Т:</b> Юра, я не тщеславна, ты не думай.  Если ты думаешь этим
чего-то добиться, то не надейся.  Но я не могу тебе запретить это делать.</p>

{% include gallery.html id="gallery2" %}

<p>
<b>Т:</b> Юра, все сложилось так, как сложилось.  Уже ничего невозможно изменить.
У меня хорошая семья, дети.  Мух ко мне хорошо относится.<br />
<b>Ю:</b> Но я Тебя люблю больше!  И в такой же ситуации он не стал бы ждать
Тебя столько же времени, сколько я!</p>

{% include gallery.html id="gallery3" %}

<p>
<b>Т:</b> Я училась на заочном, получила диплом.<br />
<b>Ю:</b> А где Ты работаешь?<br />
<b>Т:</b> Я работаю в банке "Украина".<br />
<b>Ю:</b> Я помню, Ты хотела такую работу, чтобы работа была бы связана
и с компьютерами и с экономикой.  Кажется, Ты получила такую работу,
какую хотела.<br />
<b>Т:</b> Да.</p>

<p>
<b>Т:</b> Сейчас Серёжка болеет.<br />
<b>Ю:</b> А я болел по полгода.<br />
<b>Т:</b> А почему?<br />
<b>Ю:</b> ... (потому что без Тани подорвал своё здоровье)</p>

<p>
<b>Т:</b> В мае 1993 года я получила 2-комнатную квартиру.<br />
<b>Т:</b> У меня украинский паспорт.<br />
<b>Т:</b> С Валей мы редко видимся, потому что Валя живёт на другом конце города.
Мы с Валей перезваниваемся.  Я сама редко выбираюсь в центр города.
</p>

<p>
<b>Т:</b> Я часто о тебе вспоминаю, и думаю, как ты здесь устроил свою жизнь.<br />
<b>Ю:</b> Так значит Ты там обо мне думаешь?!<br />
<b>Т:</b> О-о-ох...</p>
