---
title: 1999-05-13
gallery1:
- title: Ресторан, в котором Мама Тани праздновала юбилей
  thumb: /files/tanja/1999/19990513_Restoran_1.t.jpg
  url: /files/tanja/1999/19990513_Restoran_1.jpg
  gps: http://maps.google.com/?t=k&ll=59.435701,24.820245&spn=0.001478,0.003873
gallery2:
- title: Здесь мы с Таней встретились после семи лет разлуки
  thumb: /files/tanja/1999/19990513_Punane_1.t.jpg
  url: /files/tanja/1999/19990513_Punane_1.jpg
  gps: http://maps.google.com/?t=k&ll=59.434858,24.820427&spn=0.001479,0.003873
---
<p>Перед Днём рождения Мамы Тани, я увидел, что вечером допоздна светились все
окна в квартире.  Так я понял, что кто-то приехал, но я не знал, кто.</p>

<p>День рождения Мамы Тани - Юбилей 50 лет.</p>

<p>Днём я зашёл в подъезд и стал стоять на лестнице около квартиры Тани.
Сразу после того, как я там встал, открылась дверь квартиры, и я услышал,
как Мама сказала: "Валя, дай ему воланчик".  Поэтому я сначала подумал,
что приехала только Валя.  Потом из окна на лестнице я увидел, как Таня
(я сначала думал, что Валя) села в машину с мамой и дочкой, и они поехали
в "Детский Мир".</p>

<p>Вечером я издалека видел, как люди ходили из подъезда в ресторан
неподалёку.  Так я понял, что Мама отмечает свой юбилей в ресторане.</p>

{% include gallery.html id="gallery1" %}

<p>Я встал около ресторана и видел, как Таня с родителями выходила из
ресторана гулять с дочкой, но тогда издалека я не узнал Таню, потому что
мне по фигуре показалось, что это не Таня, а какая-то немолодая женщина.</p>

{% include gallery.html id="gallery2" %}

<p>Я стал ждать дальше и дождался, когда из ресторана вышла женщина
с ребёнком на руках, и пошла по направлению к дому.  Я не знал, что это
Таня, так как фигура у Тани сильно изменилась за несколько лет.  Но,
вспомнив <a href="/ru/tanja/meet/1991-07-23">случай в 1991 году</a>, когда
на даче я совсем не ожидал, что женщина с ребёнком окажется Таней,
я пошёл навстречу.</p>

<p>Таня первой узнала меня:<br />
<b>Т:</b> Юра!  Здравствуй!<br />
<b>Т:</b> Ты меня не узнал?<br />
<b>Т:</b> Это я - Таня!<br />
</p>

<p>Я долго несколько секунд молчал, так как не мог поверить, что наконец-то
вижу мою Таню, и от абсолютного счастья я не мог сказать ни слова.</p>

<p>
<b>Ю:</b> А я восемь лет каждый день ходил сюда, чтобы встретиться с Тобой.<br />
<b>Т:</b> Вот смотри, кто у меня (и показала ребёнка).<br />
<b>Ю:</b> Это Твой?<br />
<b>Т:</b> Это девочка.  А дома у меня ещё маленький мальчик.  С ним сейчас сидит нянечка.<br />
<b>Ю:</b> А как зовут?<br />
<b>Т:</b> Леночка.<br />
<b>Ю:</b> А маленького?<br />
<b>Т:</b> Серёжа.<br />
<b>Т:</b> Юра, у моей Мамы сегодня день рождения.  Я сейчас должна отнести
дочку домой спать и вернуться в ресторан.<br />
<b>Ю:</b> Но я ждал Тебя семь лет!<br />
<b>Т:</b> Юра, поговорим потом, когда я буду выходить с детьми гулять.</p>

<p>Потом мы с Таней зашли в подъезд, а за нами зашёл Папа.</p>

<p>Ночью я видел, как Таня, Валя, Мама шли из ресторана домой.</p>

<p>Я встал напротив окна и видел, как на кухне мелькает фотовспышка.
Потом Таня подарила мне фотографии, сделанные в то время.</p>
