---
title: 2002-08-03
gallery1:
- title: Дача Тани
  thumb: /files/tanja/2002/20020803_Kiisa_Dacha_1.t.jpg
  url: /files/tanja/2002/20020803_Kiisa_Dacha_1.jpg
  gps: http://maps.google.com/?t=k&ll=59.208941,24.661131&spn=0.023814,0.06197
- title: Здесь я увидел, как Таня выходит из ворот своей дачи
  thumb: /files/tanja/2002/20020803_Kiisa_Dacha_2.t.jpg
  url: /files/tanja/2002/20020803_Kiisa_Dacha_2.jpg
  gps: http://maps.google.com/?t=k&ll=59.208941,24.661131&spn=0.023814,0.06197
- title: Здесь я увидел, как Таня выходит из ворот своей дачи
  thumb: /files/tanja/2002/20020803_Kiisa_Dacha_3.t.jpg
  url: /files/tanja/2002/20020803_Kiisa_Dacha_3.jpg
  gps: http://maps.google.com/?t=k&ll=59.208941,24.661131&spn=0.023814,0.06197
- title: Здесь я увидел, как Таня выходит из ворот своей дачи
  thumb: /files/tanja/2002/20020803_Kiisa_Dacha_4.t.jpg
  url: /files/tanja/2002/20020803_Kiisa_Dacha_4.jpg
  gps: http://maps.google.com/?t=k&ll=59.208941,24.661131&spn=0.023814,0.06197
- title: На этом перекрёстке я подождал Таню, а потом побежал её догонять
  thumb: /files/tanja/2002/20020803_Kiisa_8.t.jpg
  url: /files/tanja/2002/20020803_Kiisa_8.jpg
  gps: http://maps.google.com/?t=k&ll=59.208941,24.661131&spn=0.023814,0.06197
- title: Дорога от дачи Тани к тёте Свете
  thumb: /files/tanja/2002/20020803_Kiisa_7.t.jpg
  url: /files/tanja/2002/20020803_Kiisa_7.jpg
  gps: http://maps.google.com/?t=k&ll=59.208941,24.661131&spn=0.023814,0.06197
- title: Дорога к тёте Свете
  thumb: /files/tanja/2002/20020803_Kiisa_5.t.jpg
  url: /files/tanja/2002/20020803_Kiisa_5.jpg
  gps: http://maps.google.com/?t=k&ll=59.208941,24.661131&spn=0.023814,0.06197
- title: Дорога к тёте Свете
  thumb: /files/tanja/2002/20020803_Kiisa_6.t.jpg
  url: /files/tanja/2002/20020803_Kiisa_6.jpg
  gps: http://maps.google.com/?t=k&ll=59.208941,24.661131&spn=0.023814,0.06197
gallery2:
- title: Ворота дачного кооператива Тани, а дальше слева ворота тёти Светы
  thumb: /files/tanja/2002/20020803_Kiisa_1.t.jpg
  url: /files/tanja/2002/20020803_Kiisa_1.jpg
  gps: http://maps.google.com/?t=k&ll=59.208941,24.661131&spn=0.023814,0.06197
- title: Ворота дачного кооператива Тани
  thumb: /files/tanja/2002/20020803_Kiisa_2.t.jpg
  url: /files/tanja/2002/20020803_Kiisa_2.jpg
  gps: http://maps.google.com/?t=k&ll=59.208941,24.661131&spn=0.023814,0.06197
- title: За воротами Таня сначала повернула направо, а надо было налево
  thumb: /files/tanja/2002/20020803_Kiisa_3.t.jpg
  url: /files/tanja/2002/20020803_Kiisa_3.jpg
  gps: http://maps.google.com/?t=k&ll=59.208941,24.661131&spn=0.023814,0.06197
- title: За воротами Таня сначала повернула направо, а надо было налево
  thumb: /files/tanja/2002/20020803_Kiisa_3.t.jpg
  url: /files/tanja/2002/20020803_Kiisa_3.jpg
  gps: http://maps.google.com/?t=k&ll=59.208941,24.661131&spn=0.023814,0.06197
geojson:
- type: Feature
  properties:
    color: "#ff0000"
  geometry:
    type: LineString
    coordinates:
    - - '24.66029736814841'
      - '59.20989345585476'
    - - '24.66034542536808'
      - '59.20981753611417'
    - - '24.66113492584443'
      - '59.20988903583157'
    - - '24.66126005082151'
      - '59.20960767813977'
    - - '24.66193821603274'
      - '59.20863080588168'
    - - '24.66173999019298'
      - '59.20859991380374'
    - - '24.66177008313168'
      - '59.20856666694766'
    - - '24.66210670789661'
      - '59.20861568348006'
    - - '24.66237415764772'
      - '59.20823855564346'
    - - '24.6613421956472'
      - '59.20801323863958'
---
<p>(11 лет чёрной "свадьбы")</p>

<p>09:59 Поехали на дачу на машине.  А я поехал на поезде.</p>

<p>15:15 Как только я подошёл к даче Тани, тут же сразу
Таня вышла из ворот дачи и пошла к тёте Свете.
Я бегом догнал Таню.
У Тани были надеты солнечные очки и у меня тоже!
(И в Киеве тоже у меня были надеты очки
точно с такой же оправой, как у Тани!)</p>

{% include gallery.html id="gallery1" %}

<p>
<b>Т:</b> Я иду к детям.  Пожалуйста, не иди за мной.<br />
<b>Ю:</b> Ты переехала, чтобы спрятаться от меня?<br />
<b>Т:</b> Да.<br />
<b>Ю:</b> Но я же всё равно найду Тебя!<br />
<b>Т:</b> Так, отстань (виновато улыбаясь).<br />
<b>Ю:</b> Таня!</p>

{% include gallery.html id="gallery2" %}

<p>Когда мы вышли из ворот дачного кооператива, Таня сначала повернула
в другую сторону и воскликнула:<br />
<b>Т:</b> О, Боже!</p>
{% include geojson.html %}
