---
title: view/links.ee
---
<h1><a name="links-ee" id="links-ee">view/links.ee - list of links (bookmarks)</a></h1>

<h2><a name="description" id="description">Data Description</a></h2>
<p>Links data file holds a list of links (bookmarks).
Examples of links data files:</p>
<table class="list" cellpadding="1" cellspacing="1">
<tr><td class="head"><a href="/en/emacs/ee/data/ee">ee.ee</a></td>
    <td class="tail">index of available ee extensions</td></tr>
<tr><td class="head"><a href="/en/emacs/ee/data/ell">ell.ee</a></td>
    <td class="tail">Emacs Lisp List</td></tr>
</table>
<!--break-->
<h2><a name="views" id="views">Useful Views</a></h2>

<h3><a name="category" id="category">By Category</a></h3>
<p>This view displays a list of links (bookmarks), grouped by their categories.
After typing `RET' the selected link is opened in the Web browser.
Views are stored in the view file view/links.ee and have the
following properties:</p>

<table class="list" cellpadding="1" cellspacing="1">
<tr><td class="head">r-printer</td>
    <td class="tail">prints link title and description</td></tr>
<tr><td class="head">r-select</td>
    <td class="tail">opens selected links in the Web browser</td></tr>
</table>

<h3><a name="domain" id="domain">By Domain Name</a></h3>
<p>This view displays a list of links (bookmarks), categorized by
domain name hierarchy, i.e. parts of domain name in the reverse order.</p>

<table class="list" cellpadding="1" cellspacing="1">
<tr><td class="head">r-printer</td>
    <td class="tail">prints link title and description</td></tr>
<tr><td class="head">r-select</td>
    <td class="tail">opens selected links in the Web browser</td></tr>
</table>

<h3><a name="contact" id="contact">By Contact Name</a></h3>
<p>This view displays a list of links (bookmarks), categorized by
first letter of contact (author) name and the name itself.</p>

<table class="list" cellpadding="1" cellspacing="1">
<tr><td class="head">r-printer</td>
    <td class="tail">prints link title and description</td></tr>
<tr><td class="head">r-select</td>
    <td class="tail">opens selected links in the Web browser</td></tr>
</table>

<h2><a name="todo" id="todo">TODO</a></h2>
<ul>
<li>Add more views</li>
</ul>
